.Home {
   display: flex;
   flex-direction: column;
   text-align: center;
}
.HomeHero {
   background-position: 0 -50px;
   background-size: cover;
   background-repeat: no-repeat;
   height: 300px;
   position: relative;
   @media (min-width: 920px) {
      height: 400px;
      // position: absolute;
      // top: 50px;
      // right: 50px;
      // width: 300px;
      // margin: 2rem;
   }
}
.HomeHero {
   background-image: url(../../../public/img/bank-tree.jpeg);
   object-fit: cover;
   width: 100%;
   height: 400px;
   @media (min-width: 920px) {
      background-position: 0% 33%;
   }
}

// .HomeSection1-Img {
//    width: 100%;
//    min-height: 300px;
//    max-height: 400px;
//    object-fit: cover;
//    @media (min-width: 920px) {
//       background-position: 0% 33%;
//    }
// }
.HeroDescription {
   margin: 2rem;
   padding: 2rem;
   background-color: white;
   // position: absolute;
   // top: 50px;
   right: 50px;
   height: 200px;
   width: 300px;
}
///////////////////////////////////////////////
.HomeFeatures {
   display: flex;
   flex-direction: column;
   background-color: yellow;
   width: 100%;
   height: 100px;
   // background-color: white;
   // position: absolute;
   @media (min-width: 920px) {
      flex-direction: row;
   }
}
