.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   border: 0;
}
.Home {
   display: flex;
   flex-direction: column;
   text-align: center;
}
.HomeHero {
   background-image: url(../../../public/img/bank-tree.jpeg);
   background-position: 0 -50px;
   background-size: cover;
   background-repeat: no-repeat;
   object-fit: cover;
   height: 300px;
   position: relative;
   @media (min-width: 920px) {
      height: 400px;
      background-position: 0% 33%;
   }
}
.HomeHero-Content {
   position: relative;
   background: white;
   text-align: left;
   text-align: left;
   top: 2rem;
   width: 200px;
   padding: 2rem;
   margin: 0 auto;
   @media (min-width: 920px) {
      position: absolute;
      top: 50px;
      right: 50px;
      width: 300px;
      margin: 2rem;
   }
}
.HomeHero-Subtitle {
   font-weight: bold;
   font-size: 1rem;
   margin: 0;
   @media (min-width: 920px) {
      font-size: 1.5rem;
   }
}
.HomeHero-Text {
   font-size: 0.9rem;
   margin-top: 0.9rem;
   margin-bottom: 0;
   @media (min-width: 920px) {
      font-size: 1.2rem;
      margin-top: 1.2rem;
   }
}
///////////////////////////////////////////////
.HomeFeatures {
   display: flex;
   flex-direction: column;
   background-color: yellow;
   width: 100%;
   height: 100px;
   // background-color: white;
   // position: absolute;
   @media (min-width: 920px) {
      flex-direction: row;
   }
}
