.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   border: 0;
}
#header {
   display: flex;
   justify-content: space-between;
   // flex-direction: row;
   align-items: center;
   padding: 5px 20px 1px 20px;
   height: 100%;
}
.HeaderBankLogo img {
   height: 100%;
   width: 200px;
}
.HeaderSignIn {
   display: flex;
   justify-content: center;
   flex-direction: row;
   text-decoration: none;
   margin-right: 0.5rem;
   font-weight: bold;
   color: #2c3e50;
   margin-bottom: 5px;
}
.HeaderSignIn:hover {
   text-decoration: underline;
   cursor: pointer;
}
.HeaderSignInLogo {
   width: 16px;
   height: 16px;
   margin-right: 5px;
}
