.SignIn {
   background-color: #12002b;
   display: flex;
   justify-content: center;
   height: calc(100vh - 64.375px - 76px);
}
.SignIn-Content {
   box-sizing: border-box;
   background-color: white;
   width: 300px;
   margin-top: 3rem;
   margin-bottom: auto;
   padding: 2rem;
   text-align: center;
}
/*
FORMULAIRE
*/
form {
   text-align: left;
}
/*
INPUT : AREAS USERNAME & PASSWORD
*/
.SignIn-InputWrapper label {
   font-weight: bold;
}
.SignIn-InputWrapper input {
   width: 222px;
   margin-bottom: 1rem;
   padding: 5px;
   font-size: 1.2rem;
}
/*
INPUT : CASE "REMEMBER ME"
*/
.SignIn-InputRemember label {
   position: fixed;
   padding-bottom: 10px;
   margin-left: 0.25rem;
}
/*
SEND FORM : BUTTON
*/
.SignIn-Button {
   display: flex;
   justify-content: center;
   width: calc(100% + 16px);
   padding: 8px;
   font-size: 1.1rem;
   font-weight: bold;
   margin-top: 15px;
   border: 0;
   background-color: #00bc77;
   color: #fff;
   cursor: pointer;
   text-decoration: underline;
}
